<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>View / Edit Post</h2>

</div>

<form action="/edit-phoneinfo/<%= data._id %>?_method=PUT" method="POST">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Title" name="title" value="<%= data.title %>" required>
  
    <label for="brand"><b>Brand</b></label>
    <input type="text" placeholder="Brand" name="brand" value="<%= data.brand %>" required>

    <label for="model"><b>Model</b></label>
    <input type="text" placeholder="Model" name="model" value="<%= data.model %>" required>
  
    <label for="image"><b>Image URL</b></label>
    <input type="text" placeholder="Image URL" name="image" value="<%= data.image %>" required>
  
    <label for="year"><b>Year</b></label>
    <input type="number" placeholder="Year" name="year" value="<%= data.year %>" required>
  
    <label for="cpu"><b>CPU</b></label>
    <input type="text" placeholder="CPU" name="cpu" value="<%= data.cpu %>" required>
  
    <label for="ram"><b>RAM</b></label>
    <input type="text" placeholder="RAM" name="ram" value="<%= data.ram %>" required>
  
    <label for="storage"><b>Storage</b></label>
    <input type="text" placeholder="Storage" name="storage" value="<%= data.storage %>" required>
  
    <label for="gpu"><b>GPU</b></label>
    <input type="text" placeholder="GPU" name="gpu" value="<%= data.gpu %>" required>
  
    <label for="os"><b>Operating System</b></label>
    <input type="text" placeholder="OS" name="os" value="<%= data.os %>" required>
  
    <label for="price"><b>Price</b></label>
    <input type="text" placeholder="Price" name="price" value="<%= data.price %>" required>
  
    <label for="description"><b>Description</b></label>
    <textarea placeholder="Description" name="description" required><%= data.description %></textarea>
  
  <input type="submit" value="Update" class="btn">

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const requiredFields = document.querySelectorAll('input[required], select[required]');
      
      requiredFields.forEach(field => {
        const fieldName = field.name.charAt(0).toUpperCase() + field.name.slice(1).replace('_', ' '); // Beautify field name
        field.oninvalid = function(event) {
          event.target.setCustomValidity(fieldName + ' is required.');
        };
        field.oninput = function(event) {
          event.target.setCustomValidity('');
        };
      });
    });
    </script>

</form>