<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>View / Edit Post</h2>
</div>

<form action="/edit-vehicleinfo/<%= data._id %>?_method=PUT" method="POST">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Vehicle Title" name="title" value="<%= data.title %>" required>

<label for="type"><b>Type</b></label>
<select name="type" id="type" required>
  <option value="Sedan" <% if(data.type === 'Sedan') { %>selected<% } %>>Sedan</option>
  <option value="Hatchback" <% if(data.type === 'Hatchback') { %>selected<% } %>>Hatchback</option>
  <option value="SUV" <% if(data.type === 'SUV') { %>selected<% } %>>SUV</option>
  <option value="Caravan" <% if(data.type === 'Caravan') { %>selected<% } %>>Caravan</option>
  <option value="Truck" <% if(data.type === 'Truck') { %>selected<% } %>>Truck</option>
</select>

  <label for="brand"><b>Brand</b></label>
  <input type="text" placeholder="Vehicle Brand" name="brand" value="<%= data.brand %>" required>

  <label for="model"><b>Model</b></label>
  <input type="text" placeholder="Vehicle Model" name="model" value="<%= data.model %>" required>

  <label for="image"><b>Image</b></label>
  <input type="text" placeholder="URL " name="image" value="<%= data.image %>" required>

  <label for="year"><b>Year</b></label>
  <input type="text" placeholder="Year " name="year" value="<%= data.year %>" required>

  <label for="color"><b>Color</b></label>
  <input type="text" placeholder="Color " name="color" value="<%= data.color %>" required>

  <div id="engine_displacement" style="display: block;">
    <label for="engine_displacement"><b>Engine Displacement</b></label>
    <input type="text" placeholder="Engine Displacement " name="engine_displacement"  value="<%= data.engine_displacement %>">
  </div>
 

  <label for="fuel_type"><b>Fuel Type</b></label>
  <select name="fuel_type" id="fuelType" required>
    <option value="Petrol" <% if(data.fuel_type === 'Petrol') { %>selected<% } %>>Petrol</option>
    <option value="Diesel" <% if(data.fuel_type === 'Diesel') { %>selected<% } %>>Diesel</option>
    <option value="Electric" <% if(data.fuel_type === 'Electric') { %>selected<% } %>>Electric</option>
    <option value="Hybrid" <% if(data.fuel_type === 'Hybrid') { %>selected<% } %>>Hybrid</option>
  </select>
  
  <label for="drive_type"><b>Drive Type</b></label>
  <select name="drive_type" id="driveType" required>
    <option value="4WD" <% if(data.drive_type === '4WD') { %>selected<% } %>>4WD</option>
    <option value="AWD" <% if(data.drive_type === 'AWD') { %>selected<% } %>>AWD</option>
    <option value="FWD" <% if(data.drive_type === 'FWD') { %>selected<% } %>>FWD</option>
    <option value="RWD" <% if(data.drive_type === 'RWD') { %>selected<% } %>>RWD</option>
  </select>

  <label for="transmission_type"><b>Transmission Type</b></label>
  <select name="transmission_type" id="transmissionType" required>
    <option value="Manual" <% if(data.transmission_type === 'Manual') { %>selected<% } %>>Manual</option>
    <option value="Automatic" <% if(data.transmission_type === 'Automatic') { %>selected<% } %>>Automatic</option>
    <option value="CVT" <% if(data.transmission_type === 'CVT') { %>selected<% } %>>CVT</option>
  </select>

  <label for="mileage"><b>Mileage</b></label>
  <input type="text" placeholder="Mileage " name="mileage" value="<%= data.mileage %>" required>

  <label for="price"><b>Price</b></label>
  <input type="text" placeholder="Price " name="price" value="<%= data.price %>" required>

  <label for="description"><b>Description</b></label>
  <input type="text" placeholder="Description " name="description" value="<%= data.description %>" required>

  <div id="electricCarFields" style="display: none;">
    <label for="battery_capacity"><b>Battery Capacity</b></label>
    <input type="text" placeholder="Battery Capacity in kWh" name="battery_capacity" value="<%= data.battery_capacity %>">
  
    <label for="range"><b>Range</b></label>
    <input type="text" placeholder="Range in miles" name="range" value="<%= data.range %>">
  </div>

  <div id="caravanFields" style="display: none;">
    <label for="bedCapacity"><b>Bed Capacity</b></label>
    <input type="text" placeholder="Bed Capacity" name="bedCapacity" value="<%= data.bed_capacity %>">
    <label for="watertank"><b>Water Tank Capacity</b></label>
    <input type="text" placeholder="Water Tank Capacity in Litres" name="watertank" value="<%= data.water_tank %>">
  </div>
  <div id="truckFields" style="display: none;">
    <label for="payloadCapacity"><b>Payload Capacity</b></label>
    <input type="text" placeholder="Payload Capacity" name="payloadCapacity" value="<%= data.payload_capacity %>">
  </div>
  <input type="submit" value="Update" class="btn">
  <script>

  document.getElementById('type').addEventListener('change', function() {
    var style = this.value == 'Caravan' ? 'block' : 'none';
    document.getElementById('caravanFields').style.display = style;
    var style = this.value == 'Truck' ? 'block' : 'none';
    document.getElementById('truckFields').style.display = style;
  });
  document.getElementById('fuelType').addEventListener('change', function() {
    var style = this.value == 'Electric' ? 'block' : 'none';
    var style2 = this.value == 'Electric' ? 'none' : 'block';
    document.getElementById('electricCarFields').style.display = style;
    document.getElementById('engine_displacement').style.display = style2;
  });
  document.addEventListener('DOMContentLoaded', function() {
      const requiredFields = document.querySelectorAll('input[required], select[required]');
      
      requiredFields.forEach(field => {
        const fieldName = field.name.charAt(0).toUpperCase() + field.name.slice(1).replace('_', ' '); // Beautify field name
        field.oninvalid = function(event) {
          event.target.setCustomValidity(fieldName + ' is required.');
        };
        field.oninput = function(event) {
          event.target.setCustomValidity('');
        };
      });
    });
  </script>
</form>


