<div class="info-row">
    <h2>Posts</h2>
    <a href="/add-post" class="navlink">+ Add New</a>
  </div>
  <ul class="admin-posts">
    <% data.forEach(data => { %>
     
      <li>
        <a href="/<%= data.product%>/<%= data._id %>">
          <%= data.title %> &nearr;
        </a>
        <div class="admin-post-controls">
          <form action="/delete-<%= data.product %>/<%= data._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn-delete btn">
          </form>
        </div>
      </li>
  
    <% }) %>