<img src="<%= data.image %>">
<h2 class="articles__heading"><%= data.title %></h2>
    <div class="info-row">
        <span class="explanation">Type:</span>
        <span class="info"><%= data.type %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Brand:</span>
        <span class="info"><%= data.brand %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Model:</span>
        <span class="info"><%= data.model %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Year:</span>
        <span class="info"><%= data.year %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Color:</span>
        <span class="info"><%= data.color %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Engine Displacement:</span>
        <span class="info"><%= data.engine_displacement %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Fuel Type:</span>
        <span class="info"><%= data.fuel_type %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Transmission Type:</span>
        <span class="info"><%= data.transmission_type %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Mileage:</span>
        <span class="info"><%= data.mileage %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Description:</span>
        <span class="info"><%= data.description %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Price:</span>
        <span class="info"><%= data.price %></span>
    </div>
    