<section class="articles">
    <div class="grid-container">
      <% data.forEach(vehicle => { %>
      <div class="grid-item">
        <img src="<%= vehicle.image %>">
        <a href="/vehicleinfo/<%= vehicle._id %>">
          <span><%= vehicle.title %></span>
        </a>
        <span class="article-list__date"></span>
        <div class="info-row">
          <span class="explanation">Type:</span>
          <span class="info"><%= vehicle.type %></span>
        </div>
        <div class="info-row">
          <span class="explanation">Brand:</span>
          <span class="info"><%= vehicle.brand %></span>
        </div>
        <div class="info-row">
          <span class="explanation">Model:</span>
          <span class="info"><%= vehicle.model %></span>
        </div>
      </div>
      
      <% }) %>
    </div>
  </section>




