<section class="articles">
    <div class="grid-container">
      <% data.forEach(data => { %>
      <div class="grid-item">
        <img src="<%= data.image %>">
        <a href="/lessoninfo/<%= data._id %>">
          <span><%= data.title %></span>
        </a>
        <span class="article-list__date"></span>
        <div class="info-row">
          <span class="explanation">Tutor:</span>
          <span class="info"><%= data.tutor %></span>
        </div>
        <div class="info-row">
          <span class="explanation">Lesson:</span>
          <span class="info"><%= data.type %></span>
        </div>
        <div class="info-row">
          <span class="explanation">Price:</span>
          <span class="info"><%= data.price %></span>
        </div>
      </div>
      <% }) %>
    </div>
    
  
  </section>
  