<img src="<%= data.image %>">
<h2 class="articles__heading"><%= data.title %></h2>
    <div class="info-row">
        <span class="explanation">Type:</span>
        <span class="info"><%= data.type %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Tutor Name:</span>
        <span class="info"><%= data.tutor %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Lesson:</span>
        <span class="info"><%= data.lesson %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Location:</span>
        <span class="info"><%= data.location %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Duration:</span>
        <span class="info"><%= data.duration %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Description:</span>
        <span class="info"><%= data.description %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Price:</span>
        <span class="info"><%= data.price %></span>
    </div>
    