<img src="<%= data.image %>">
<div class="info-row">
    <h2 class="articles__heading"><%= data.title %></h2>
    <form action="/favorite-<%= data.product %>/<%= data._id %>?_method=PUT" method="POST">
        <input type="submit" value="Add to/remove from favorite list" class="btn">
    </form>
</div>
<div class="info-row">
    <span class="explanation">Favorite:</span>
    <span class="info"><%= data.favorite%></span>
</div>
    <div class="info-row">
        <span class="explanation">Type:</span>
        <span class="info"><%= data.type %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Brand:</span>
        <span class="info"><%= data.brand %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Model:</span>
        <span class="info"><%= data.model %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Year:</span>
        <span class="info"><%= data.year %></span>
    </div>
    <div class="info-row">
        <span class="explanation">CPU:</span>
        <span class="info"><%= data.cpu %></span>
    </div>
    <div class="info-row">
        <span class="explanation">RAM:</span>
        <span class="info"><%= data.ram %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Storage:</span>
        <span class="info"><%= data.storage %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Camera:</span>
        <span class="info"><%= data.camera %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Operating System:</span>
        <span class="info"><%= data.os %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Description:</span>
        <span class="info"><%= data.description %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Price:</span>
        <span class="info"><%= data.price %></span>
    </div>