<section class="articles">
    <div class="grid-container">
      <% data.forEach(phone => { %>
      <div class="grid-item">
        <img src="<%= phone.image %>">
        <a href="/phoneinfo/<%= phone._id %>">
          <span><%= phone.title %></span>
        </a>
        <span class="article-list__date"></span>
        <div class="info-row">
          <span class="explanation">Type:</span>
          <span class="info"><%= phone.type %></span>
        </div>
        <div class="info-row">
          <span class="explanation">Brand:</span>
          <span class="info"><%= phone.brand %></span>
        </div>
        <div class="info-row">
          <span class="explanation">Model:</span>
          <span class="info"><%= phone.model %></span>
        </div>
      </div>
      <% }) %>
    </div>
    
  
  </section>
  